<div class="title">
  <h1>Show Plant</h1>
</div>

<div *ngIf="plant != null" class="container">
  <mat-card class="card">
    <!--{{ plant | json }}-->
    <mat-card-title>{{plant.name}}</mat-card-title>
    <mat-card-content>
      <p><strong>Genus:</strong> {{plant.genus}}</p>
      <p><strong>Scientific Name:</strong> {{plant.scientificName}}</p>
      <p><strong>Common Name:</strong> {{plant.commonName}}</p>
      <p><strong>Description:</strong> {{plant.description}}</p>
      <p><strong>Category:</strong> {{plant.categoryId}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/plantList" class="add-button" mat-raised-button>Return</button>
    </mat-card-actions>
  </mat-card>
</div>