<div class="title">
  <h1>Show Plant</h1>
</div>

<div class="container">
  <mat-card class="card">
    <mat-card-title>Margarita</mat-card-title>
    <mat-card-content>
      <p><strong>Name:</strong> Margarita</p>
      <p><strong>Genus:</strong> Margarita</p>
      <p><strong>Scientific Name:</strong> Margarita</p>
      <p><strong>Common Name:</strong> Margarita</p>
      <p><strong>Description:</strong> Margarita</p>
      <p><strong>Category:</strong> Margarita</p>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="/plantList" class="add-button" mat-raised-button>Return</button>
    </mat-card-actions>
  </mat-card>
</div>