<div class="title">
  <h1>{{formType}}</h1>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class="container">
  <mat-card class="card">
    <mat-card-subtitle>
      Plant data
    </mat-card-subtitle>
    <form [formGroup]="formPlant" (ngSubmit)="addEditPlant()">
      <mat-grid-list cols="2" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="Name plant">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Genus</mat-label>
            <input formControlName="genus" matInput placeholder="Genus plant">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Scientific Name</mat-label>
            <input formControlName="scientificName" matInput placeholder="Scientific Name plant">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Common Name</mat-label>
            <input formControlName="commonName" matInput placeholder="Common Name plant">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput placeholder="Description plant">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>

          <!-- <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input formControlName="categoryId" matInput placeholder="Category plant">
          </mat-form-field> -->

          <select name="Category" id="Category-list" formControlName="categoryId">
            <option *ngFor="let iCate of listCategory" ngValue="{{iCate.id}}">{{iCate.name}}</option>
          </select>


          
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2">
          <button routerLink="/plantList" mat-raised-button>Return</button>
          <button [disabled]="formPlant.invalid" type="submit" mat-raised-button color="primary">Accept</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>