<section id="banner-plant">
  <div class="section">
    <div class="title">
      <h1>Welcome! </h1>
    </div>
    <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat fugiat quae voluptatum doloribus! Accusamus
      reiciendis ratione, officia repudiandae est, cupiditate minima odit dignissimos voluptate laborum deserunt
      officiis quidem qui?
    </div>
  </div>
</section>

<section id="plant-block-one">
  <div class="detail">
    <h2>Titulo ejemplo</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et alias perferendis voluptatum nostrum voluptatem
      animi eum, recusandae laborum accusantium sed at, quia sapiente mollitia consequatur debitis eos velit commodi?
      Quas.</p>
  </div>
  <div class="container">
    <figure>
      <img src="../../../assets/imagen-dashboard/imagen3.jpg" alt="">
    </figure>
  </div>
</section>
<section id="plant-block-two">
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="right-side">
          <img src="../../../assets/imagen-dashboard/imagen4.jpg" alt="">
        </div>
        <div class="left-side">
          <h2>My plant number</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque ut adipisci distinctio perspiciatis
            molestiae quis vero. Nulla minima animi porro corrupti tempora repellat. Blanditiis quo, nobis error fugit
            beatae esse.</p>
        </div>
      </div>
    </div>
  </div>
</section>